@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
body {
  background: #f4f4f4;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 110px;
  width: 110px;
  margin: 30px;
}
.Bar {
  height: 10px;
  background-color: black;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  width: 80%;
  max-width: 65em;
  margin: 0 auto;
  padding: 15px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.124rem;
  padding: 0.3em 1.25em;
  background-color: rgb(24, 194, 46);
  border-radius: 0.25em;
  transition: transform ease-in-out, opacity 250ms linear;
  box-shadow: 1px 2px 2px #888888;
}
.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}
.container .textBox {
  margin-top: 5px;
  align-items: center;
  text-align: center;
}
.container .textBox h2 {
  font-size: 1.5rem;
  line-height: 1;
  text-transform: uppercase;
}
.container .textBox p {
  margin: 5px 0px;
}
.container .textBox a {
  margin: 20px 0px 10px 0px;
}
.container .textBox2 {
  align-items: center;
  text-align: center;
}
.container .textBox2 a {
  margin-top: 20px;
}
.container .card {
  text-align: center;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px #888888;
}

.container .card .price {
  margin: 20px 0px;
}
.container .card .price p {
  margin: 10px 0px;
}

.container .card .price .old {
  text-decoration: line-through;
  color: red;
}
.container .card .price .new {
  font-size: 25px;
  color: green;
  font-weight: 600;
}
.container .card .price .sold {
  background-color: green;
  font-size: 20px;
  color: white;
  font-weight: 500;
  border-radius: 9px;
  display: inline;
  padding: 4px 16px;
}
.thumb {
  transform: translateX(-50%);
  display: flex;
  margin-left: 36%;
}
.thumb li {
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover {
  transform: translateY(-15px);
}
.thumb li img {
  max-width: 50px;
}
footer {
  height: auto;
  background-color: black;
  width: 100vw;
  padding-top: 20px;
  color: #fff;
}
#mainfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#mainfooter h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
#mainfooter p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.socials ul li a i {
  font-size: 1.1rem;
  filter: invert(1);
  transition: transform ease-in-out;
}
.socials a i:hover,
.socials a i:focus {
  transform: scale(1.1);
}
.footerBottom {
  background-color: #222;
  width: 100vw;
  padding: 20px;
  text-align: center;
}
.footerBottom p {
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
@media screen and (min-width: 600px) {
  p {
    font-size: 24px;
  }
  .container {
    width: 65%;
  }
  .thumb {
    margin-left: 49%;
  }
}

@media screen and (min-width: 1000px) {
  p {
    font-size: 26px;
  }
  .container {
    width: 60%;
  }

  .container .textBox h2 {
    font-size: 40px;
  }
  .container .textBox2 h1 {
    font-size: 40px;
  }
  .container .carddisplay {
    display: flex;
    justify-content: center;
  }
  .container .carddisplay .card {
    padding: 30px;
    margin: 0px 10px;
  }
  .container .carddisplay .card .namegift {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .container .carddisplay .card img {
    max-width: none;
    width: 250px;
  }

  .thumb {
    margin-left: 52%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: none;
    padding: 20px;
    margin: none;
  }
  .container .imgBox img {
    max-width: none;
    width: 500px;
  }
  .container .textBox {
    text-align: end;
    margin-top: 100px;
  }
  .container .imgBox2 img {
    margin-left: 120px;
    max-width: none;
    width: 500px;
  }
  .container .textBox2 {
    text-align: end;
    margin-left: 500px;
  }
  .container .textBox2 p {
    font-size: 16px;
  }

  .container .carddisplay {
    max-width: 100%;
    width: 100%;
    margin: 10px auto;
  }
  .container .carddisplay .card {
    align-items: center;
    text-align: center;
    width: 400px;
    margin-left: 130px;
    padding: 8px;
  }
  .container .carddisplay .card img {
    margin: auto;
  }
}
